* {
    box-sizing: border-box;
}
/*.grid {
    width: 1500px;
    height: 725px;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    height: 100%;
}
.row {
    flex: 1;
    border: 2px solid blue;
}*/
